html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
body {
  justify-content: center;
  text-align: center;
}
header {
  border-bottom: 1px solid seashell;
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  align-items: center;
  z-index: 1;
  background-color: black;
}
header img {
  height: 50px;
  padding-left: 10px;
}
header nav {
  flex-grow: 1;
  text-align: right;
  margin-right: 10px;
}
nav span {
  padding: 10px 10px;
}
a {
  color: seashell;
}


.main {
  border: 1px solid white;
  padding-top: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mission {
  height: 700px;
  display: flex;
  background-image: url(./images/mission.jpg);
  width: 1200px;
  align-items: center;
  justify-content: center;
}
.text {
  background-color: black;
  width: 100%
}
