html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
header {
  border-bottom: 1px solid seashell;
  display: flex;
  position: fixed;
  height: 69px;
  width: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: black;
}
header img {
  height: 50px;
  padding-left: 10px;
}
header nav {
  flex-grow: 1;
  text-align: right;
  margin-right: 10px;
}
nav span {
  padding: 10px 10px;
}
a {
  color: seashell;
}


.main {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

#mission {
  height: 700px;
  display: flex;
  background-image: url(./images/mission.jpg);
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 70px;
}
.text {
  background-color: black;
  width: 100%;
  margin: auto;
}

#TotM {
  width: 1000px;
  margin: auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 70px;
}
.piece {
  width: 300px;
}
.piece img {
  height: 200px;
}
